@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Lobster";
  src: url("../Fonts/Lobster/Lobster-Regular.ttf");
}

.inputform {
  text-align: center;
}
form{
  text-align: center;
  justify-content: center;
  padding: 1em;

}
#content{
  margin: auto;
  min-width: 400px;
}
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Roboto Regular", sans-serif;
}
p {
  color: #055f23;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 3px;
}

img {
  max-width: 140px;
  height: auto;
  display: block;
  align-self: center;
}


h2 {
  font-family: "Roboto", sans-serif;
  color: #d66800;
  font-size: 1.5em;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}
h3 {
  font-family: "Roboto", sans-serif;
  color: #1e7107;
  font-size: 1.5em;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

span {
  font-family: "Roboto", sans-serif;
  color: #043b16;
  font-weight: 400;
}
.inputform {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  border-style: solid;
  border-color: #d66800;
  border-width: 5px;
  color: #d66800;
}

ul li:hover {
  background-color: #d6670067;
}

ul .loginbtn:hover {
  background-color: #c9000048;
}
.loginbtn a {
  color: #c90000;
}

/*Wrapper*/
.page-wrapper {
  position: relative;
  min-height: 100vh;
}
.content-wrapper {
  padding-bottom: 3rem;
  display: grid;

}

/* Header */

header {
  background-color: #067a2d;
  padding-bottom: 1.5em;
  padding-top: 1em;
}

li {
  border-radius: 10px;
  border-width: 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 2px;
  float: left;
}
a {
  color: #d66800;
  text-decoration: none;
  font-size: 1.2em;
}

#ingredient {
  padding: 10px;
}

.hidden {
  display: none;
}

.error {
  color: #c90000;
}
.unten {
  background-color: #067a2d;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #067a2d;
  color: white;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.footer li {
  border-radius: 10px;
  border-width: 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 2px;
  float: right;
  border-style: none;
  color: #ffffff;
}
.footer li:hover {
  color: rgb(255, 237, 157);
  background-color: #ffffff00;
}

/* Formulare*/
fieldset {
  padding: 1em 1em;
  border: solid 1px #067a2d;
  border-radius: 6px;
  min-width: 200px;
  margin-top: 6px;
  max-width: 400px;
  margin: auto;
  margin-bottom: 2em;
}

/*Labels */
label {
  display: block;
  margin-top: 0.5em;
}

input {
  outline: #067a2d;
  outline-width: 1px;
  outline-style: solid;
  border-radius: 10px;
}
textarea {
  outline: #067a2d;
  outline-width: 1px;
  outline-style: solid;
  border-radius: 10px;
  min-width: 300px;
}
.postbtn {
  padding: 6px;
  border-style: solid;
  border-color: #d66800;
  color: #d66800;
  border-radius: 20px;
  border-width: 2px;
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.postbtn:hover {
  background-color: #d6670067;
}
.addbtn {
  padding: 6px;
  border-style: solid;
  border-color: #067a2d;
  color: #067a2d;
  border-radius: 20px;
  border-width: 2px;
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  margin: auto;
  margin-top: 10px;
}
.addbtn:hover {
  background-color: #067a2d63;
}
input:focus {
  background-color: #067a2d63;
}

select:focus {
  background-color: #067a2d63;
}
textarea:focus {
  background-color: #067a2d63;
}
/*recipe display*/
.recipeDisplay {
  border-style: solid;
  border-width: 2px;
  border-color: #055f23;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 100px;
  max-width: 500px;
  border-radius: 20px;
}
.recipeDes {
  display: inline-block;
  background-color: #067a2d63;
  color: rgb(3, 51, 23);
  border-style: solid;
  border: #000000;
  border-width: 2px;
  float: none;
}

ul .recipeDes:hover {
  background-color: #067a2d63;
}

#recipeName2 {
  color: #055f23;
  font-size: 1.8em;
  font-family: "Lobster";
  text-decoration: underline;
}
.recipeDesp {
  display: block;
  margin-top: 5px;
  text-align: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 1em;
  float: none;
}
.recipeDesi {
  display: block;
  background-color: #d6670067;
  color: #ac5300;
  border-style: solid;
  border: #000000;
  border-width: 2px;
  float: none;
}
ul .recipeDesi:hover {
  background-color: #d6670067;
}
.center{
  margin: auto;
  text-align: center;
  justify-content: center;
}
h1 {
  color: #1e7107;
  font-family: "Lobster", cursive;
  font-size: 3.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: center;
}