@font-face{
    font-family: "Roboto";
    src: url("../Fonts/Roboto/Roboto-Medium.ttf");
  }
  @font-face{
    font-family: "Roboto Regular";
    src: url("../Fonts/Roboto/Roboto-Regular.ttf");
  }
  
  @font-face{
    font-family: "Lobster";
    src: url("../Fonts/Lobster/Lobster-Regular.ttf");
  }
  
  body {
    background-color: #ffffff;
    color: #04854d;
    margin: 0;
    padding: 0;
    font-family: "Roboto Regular", sans-serif;
  }
  
  img {
    max-width: 140px;
    height: auto;
    display: block;
    align-self: center;
  }
  
  h1 {
    color: #1e7107;
    /* font-family: 'Monoton', cursive;*/
    font-family: "Lobster", cursive;
    font-size: 2em;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
  }
  .inputform {
    text-align: center;
  }
  
  
  
  span {
    font-weight: bolder;
  }
  
 
 
  
  p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1em;
    text-align: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
    background-color: #04854d;
    font-family: "Roboto", sans-serif;
  }
  li a {
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  li a:hover {
    color: #e8dfa3;
  }
  
  /*Wrapper*/
  .page-wrapper {
    position: relative;
    min-height: 100vh;
  }
  .content-wrapper {
    padding-bottom: 3rem;
    display: grid;
  
  }
  
  /* Header */
  
  header {
    background-color: #04854d;
    padding-bottom: 1.5em;
    padding-top: 1em;
  }
  
  header ul {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
   
    
    border-bottom: #b3d7ff;
    border-style: solid;
    border: 3px;
  }
  header li {
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 2px;
  }
  header a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    /* border-bottom: 3px solid #01601f; */
  }
 
  
  
  
  
  