<div class="center">
<h1 class="text-4xl">Login</h1>
<div class="inputform">
  <form hx-post="/api/v1/authentication/login" hx-ext="json-enc" hx-on:htmx:response-error="htmx.removeClass('#loginError', 'hidden')">
    <fieldset>
      <div class="inputform">
        <label for="name"><p>Username</p></label>
        <input id="name" type="text" name="name" value="" required/>
        <label for="password"><p>Passwort</p></label>
        <input id="password" type="password" name="password" value="" required />
        <button class="postbtn" type="submit">Login</button>
        <div id="loginError" class="error hidden">Es ist ein Fehler beim Login aufgetreten!</div>
      </div>
    </fieldset>
  </form>

  <form hx-post="/api/v1/authentication/account" hx-ext="json-enc" hx-on:htmx:response-error="htmx.removeClass('#regError', 'hidden')">
    <fieldset>
      <div>
        <label for="name"><p>Username</p></label>
        <input id="name" type="text" name="name" value="" required />
        <label for="email"><p>Email-Adresse</p></label>
        <input id="email" type="text" name="email" value="" required />
        <label for="password"><p>Passwort</p></label>
        <input id="password" type="password" name="password" value="" required />
        <button class="postbtn" type="submit">Registrieren</button>
        <div id="regError" class="error hidden">Es ist ein Fehler bei der Registrierung aufgetreten!</div>
      </div>
    </fieldset>
  </form>
</div>
</div>